body {
    margin: 0px;
    padding: 10px;
    font-family: Verdana, sans-serif;
}

table { 
border: 1px solid black; 
border-collapse: collapse; 
background: #fff; 
}

th, td { 
border: 1px solid black; 
padding: .2em .7em;   
color: #000;
font-size: 16px; 
font-weight: 400; 
} 

thead th { 
background-color: #1A466A; 
color: #fff; 
font-weight: bold;  
}

input[type=text] { 
text-align: right; 
width: 200px; 
color: #000;
}

input[type="number"] {
width: 3em;
}

.button { 
border: 1px solid #273746; 
border-radius: 5px; 
padding: 4px; 
background-color: #273746; 
color: #fff; 
}

.container { 
margin: 10px;
}